body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR */

.Navbar {
  background-color: #ef5089;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 7;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Navbar .leftSide .links {
  max-height: 80px;
}

.Navbar .leftSide .links a {
  padding-left: 50px;
  justify-content: space-around;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  /* flex-direction: column; */
}

/* .Navbar .leftSide button{
  display: none;
} */

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
}

.rightSide input {
  width: 220px;
  height: 40px;
  border: none;
  /* border-radius: 4px; */
  font-size: 20px;
  color: #000;
}

.rightSide button {
  background-color: #ef5089;
  /* color: #fff; */
  border: none;
  font-size: 25px;
  display: flex;
  align-items: center;
}
/* .rightSide button:hover{
  background-color:transparent ;
  border:none;
} */

.logoKolektive {
  float: left;
  display: flex;
  align-items: center;
  height: 55px;
  margin-left: 40px;
}

@media only screen and (max-width: 850px) {
  .Navbar .leftSide .links a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .leftSide .links a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .leftSide button {
    display: flex;
  }
  .Navbar .leftSide .links {
    display: none;
  }
}

/* NAVBAR */

/* Login */
.borderBox {
  position: relative;
  /* width: 672px; */
  min-height: 753px;
  background-color: #ef5089;
  display: flex;
  text-align: center;
  justify-content: center;
}

.loginContainer {
  /* min-height: 521px; */
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  border: 3px solid #000;
  height: 575px;
  margin-top: 180px;
  width: 450px;
  position: relative;
}

.textLogin {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 96px;
  text-align: center;
  color: #000000;
  margin: 5px 0 0 0;
}
.txtLogin {
  text-align: center;
  font-style: normal;
  font-size: 12px;
  width: 200px;
  margin: 5px 0 10px 0;
}
.logoLogin {
  position: absolute;
  width: 377px;
  height: 640px;
  top: -70px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0 0 0;
}
.createAcc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* padding:0px; */
  margin: 2px;
}
.buttonLgn {
  width: 180px;
  font-size: large;
  font-weight: bold;
  height: 50px;
  background: #ffbd12;
  border: 3px solid #18191f;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.buttonGgl {
  width: 400px;
  font-size: large;
  font-weight: bold;
  color: #ffff;
  height: 50px;
  background: #bcbdc2;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.buttonFb {
  width: 400px;
  font-size: large;
  font-weight: bold;
  color: #ffff;
  height: 50px;
  background: #0b21e2;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.loginRow {
  display: grid;
  gap: 40px;
  grid-gap: 40px;
  text-align: center;
}

.loginRow2 {
  display: grid;
  gap: 20px;
  grid-gap: 20px;
  text-align: center;
}
.rememberMe {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  padding: 11px;
  padding-left: 20px;
  /* width: 400px; */
  border: 1px solid #392a2a;
  box-sizing: border-box;
  border-radius: 15px;
  opacity: 0.85;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}
/* .checkbox {
  display: flex;
  justify-content: flex-start;
  padding:15px 0 0 50px;
} */

/* Carousel */
.slider {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.eventImg {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 0px 0px 32px 32px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 4rem;
  color: #000;
  font-weight: 100;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 4rem;
  color: #000;
  font-weight: 100;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
/* Event Page*/
.searchEvt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 150px;
  background: #5a0f5b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* top:20px; */
  margin-bottom: 50px;
}
.searchBoxEvt {
  flex: 50%;
  float: left;
}
.searchBoxEvt p {
  float: left;
  flex: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}
.inputBox {
  float: left;
  display: flexbox;
  text-align: center;
  justify-content: last baseline;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  /* border:1px solid #fff */
  /* border: none !important; */
  /* border-bottom: 1px solid #fff !important; */
}

.upcomingEvents {
  margin-bottom: 50px;
  text-align: center;
  width: 80%;
  /* height: 170px; */
  background-color: whitesmoke;
  border-radius: 34px;
  box-sizing: border-box;
}
.txtUpcoming {
  padding-top: 20px;
  /* float: left; */
  display: flex;
  text-align: center;
  flex: 50%;
  justify-content: center;
}
.txtUpcoming p {
  text-align: center !important;
  display: flex !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  margin: 30px 50px;
}
.txtUpcoming select {
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 30px;
  width: 200px;
  height: 43px;
  top: 200px;
  color: #000;
  background: #d9d4db;
  border-radius: 14px;
}
.btnLoadEvent {
  margin: 20px 0px;
  padding-top: 13px;
  width: 15%;
  height: 65px;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #eec2e2;
  border-radius: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #951471;
}
/* .btnLoadEvent:hover{
  background-color:whitesmoke;
} */
/*  */

/* Footer */
.containerFooter {
  background-color: #ef5089;
  /* height: 50%  ; */
  /* width: 100%; */
}
.wrapperFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 000px; */
  height: 20%;
  padding: 50px 50px;
}
.columnFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  grid-gap: 20px;
}
.rowFooter {
  display: flex;
  /* grid-template-columns: repeat(auto-fiil, minmax(230, 1fr)); */
  grid-gap: 20px;
}
.Row2 {
  display: flex;
  justify-content: flex-start;
}
.Row3 {
  display: flex;
  justify-content: left;
}
.linkFooter {
  color: #efefed;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  display: flex;
}

.titleFooter {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

.line {
  border: 1px solid #d4d0d0;
}

.textFooter {
  text-align: center;
  display: flex;
  margin-left: 50px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}

.imageFooter {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100%;
}
.imagesFooter {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
/* EndFooter */
/* border-radius: 9px;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
} */

/* Register */

.sideRegister {
  background: url("./images/image\ 1.png") repeat !important;
  min-height: 100vh;
}

.sideTitle {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.formRegister {
  background: #f2f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 30px 0px 0px 30px;
  position: absolute;
  z-index: 1;
  right: 0;
  min-height: 100vh;
}

.titleRegister {
  font-weight: 800;
  font-size: 2rem;
  color: #ef5089;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.borderRegister {
  border-top: 1px solid #000000;
}

.inputRegister {
  min-height: 50vh;
}

button[type="submit"] {
  background: #ffbd12;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 16px;
  font-size: 2rem;
  font-weight: bold;
  max-width: fit-content;
}

.spanReg {
  color: #18191f;
  font-weight: 500;
  font-size: 0.75rem;
}

.lineReg {
  border: 1px solid #000000;
}

.facebookButton {
  background: #0b21e2;
}
.googleButton {
  background: #bcbdc2;
}
.facebookButton,
.googleButton {
  border-radius: 9px;
  width: 17vw;
}

.googleText,
.facebookText {
  color: #ffffff;
  font-weight: 500;
}

.peep {
  position: absolute;
  left: 4.6vw;
  bottom: 0;
}

/* Donate */
.donate {
  background: #e7e7e7;
}

.donateContainer {
  background-color: white;
}

.donateEventPic {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* border-radius: 23px; */
}

h1 {
  font-size: 2rem !important;
  font-weight: 800 !important;
}

h2 {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
}

h5 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.progressDetails {
  font-weight: 600;
}
.progressDetails2 {
  font-weight: normal;
  color: #837c7c;
}

.shareEvent {
  border: 4px solid #34b7f0;
  box-sizing: border-box;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.25));
  /* border-radius: 18px; */
}

.shareEventText {
  color: #34b7f0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boostNow {
  color: white;
  background: #ef5089;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  border: none;
  width: 50vw;
  font-size: 1.5rem;
  font-weight: 700;
}

.donateSubtitleBox {
  background: #5a0f5b;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  color: white;
}

.donateEventBox,
.donateEventInfo,
.donateKolegaBox {
  border: 1px solid #b5b5b5;
}

.donateEventInfo {
  background: #ffbd12;
  color: #19abea;
}

.donateLearnMore {
  border: 3px solid #5a0f5b;
  border-radius: 20px;
}

.donateGetDir {
  background: #5a0f5b;
  border: none;
  color: white;
  font-family: Montserrat, "sans-serif";
  font-weight: 800;
}

/* Campaign */
.campaign {
  background: #7939bd;
}
.campaignTitle,
.campaignDesign {
  border: 2px solid black;
  box-shadow: #ef5089 10px 10px;
  background: #2cb5e8;
}

.campaignTitle h1 {
  color: #fff500;
  text-shadow: #ef5089 3px 3px;
}

.campaignFoto,
.campaignInput {
  border: 2px solid #fff500;
  background: #ef5089;
  cursor: pointer;
}

.campaignFotoTitle,
.campaignInput label {
  color: #00f0ff;
  font-size: 1.5rem;
  font-weight: 600;
}

.campaignInput label {
  text-align: start;
}

.campaignInput input,
.campaignInput textarea {
  border-radius: 12px;
}

.campaignQuote {
  font-size: 3rem !important;
  font-weight: 900;
  letter-spacing: 0.25rem;
  color: #fff500;
  text-shadow: #ef5089 5px 5px;
}

.campaignDesign {
  border: none;
}

.campaignDesign2 {
  background: #fff500;
}

.campaignDesign3 {
  background: #ef5089;
}

.campaignPeep {
  fill: black;
}

/* Responsive */
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .formRegister {
    margin-left: 0px;
    min-width: 100vw;
    min-height: 100vh;
  }
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 0.75rem;
  }
  .box {
    width: 100% !important;
  }
  .close-icon{
    right: 84% !important;
  }
}

/* Galaxy Fold */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .slider{
    height: auto;
  }
  .searchEvt{
    height: auto;
    margin-top: 2rem;
  }
  .txtUpcoming p{
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
  }
  .txtUpcoming select{
    margin: 20px 0;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 0.75rem;
  }
  .slider{
    height: auto;
  }
  .txtUpcoming p{
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
  }
  .txtUpcoming select{
    margin: 20px 0;
  }
  .imagesFooter{
    margin: 0;
  }
  .columnFooter{
    text-align: start;
  }
  .searchEvt{
    height: auto;
    margin-top: 2rem;
  }
  .campaignQuote{
    font-size: 2.5rem !important;
  }
}
/* Surface Duo */
@media only screen and (min-device-width: 540px) {
  .formRegister {
    width: 100vw;
  }
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 1rem;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sideTitle {
    font-size: 1.5rem;
  }
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 1rem;
  }
  .close-icon{
    right: 67% !important;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sideTitle {
    font-size: 1.5rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .txtUpcoming select{
    width: 20rem;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* Popup */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: 70%;
  top: calc(100vh - 85vh + 30px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  z-index: 2;
}
