body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
  /* background: #7939BD;
  z-index: -2; */
}
body {
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR */

.Navbar {
  background-color: #ef5089;
  width: 100%;
  height: 80px;
  /* position: absolute; */
  overflow: hidden;
  display: flex;
  z-index: 7;
  top: 0;
  position: fixed;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Navbar .leftSide .links {
  max-height: 80px;
}

.Navbar .leftSide .links a {
  padding-left: 50px;
  justify-content: space-around;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  /* flex-direction: column; */
}

/* .Navbar .leftSide button{
  display: none;
} */

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
}

.rightSide input {
  width: 220px;
  height: 40px;
  border: none;
  /* border-radius: 4px; */
  font-size: 20px;
  color: #000;
}

.rightSide button {
  background-color: #ef5089;
  /* color: #fff; */
  border: none;
  font-size: 25px;
  display: flex;
  align-items: center;
}
/* .rightSide button:hover{
  background-color:transparent ;
  border:none;
} */

.logoKolektive {
  float: left;
  display: flex;
  align-items: center;
  height: 55px;
  margin-left: 40px;
}

@media only screen and (max-width: 850px) {
  .Navbar .leftSide .links a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .leftSide .links a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .leftSide button {
    display: flex;
  }
  .Navbar .leftSide .links {
    display: none;
  }
}

/* NAVBAR */

/* Login */
.borderBox {
  position: relative;
  /* width: 672px; */
  min-height: 753px;
  background-color: #7939bd;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 59px;
}

.loginContainer {
  /* min-height: 521px; */
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  border: 3px solid #000;
  height: 575px;
  margin-top: 180px;
  width: 450px;
  position: relative;
}

.textLogin {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem !important;
  line-height: 96px;
  text-align: center;
  margin: 5px 0 0 0;
}
.txtLogin {
  text-align: center;
  font-style: normal;
  font-size: 12px;
  width: 200px;
  margin: 5px 0 10px 0;
}
.logoLogin {
  position: absolute;
  width: 377px;
  height: 640px;
  top: -70px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0 0 0;
}
.createAcc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* padding:0px; */
  margin: 2px;
}
.buttonLgn {
  width: 180px;
  font-size: large;
  font-weight: bold;
  height: 50px;
  background: #ffbd12;
  border: 3px solid #18191f;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.buttonGgl {
  width: 400px;
  font-size: large;
  font-weight: bold;
  color: #ffff;
  height: 50px;
  background: #bcbdc2;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.buttonFb {
  width: 400px;
  font-size: large;
  font-weight: bold;
  color: #ffff;
  height: 50px;
  background: #0b21e2;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.loginRow {
  display: grid;
  gap: 40px;
  grid-gap: 40px;
  text-align: center;
}

.loginRow2 {
  display: grid;
  gap: 20px;
  grid-gap: 20px;
  text-align: center;
}
.rememberMe {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  padding: 11px;
  padding-left: 20px;
  /* width: 400px; */
  border: 1px solid #392a2a;
  box-sizing: border-box;
  border-radius: 15px;
  opacity: 0.85;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}
/* .checkbox {
  display: flex;
  justify-content: flex-start;
  padding:15px 0 0 50px;
} */

/* Carousel */
.slider {
  border: 11px solid #fff500;
  border-radius: 49px;
  height: 95vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.eventImg {
  width: 80vw;
  height: auto;
  border-radius: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  /* margin-top: 190px; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  /* border-radius: 0px 0px 32px 32px; */
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 4rem;
  color: #000;
  font-weight: 100;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 4rem;
  color: #000;
  font-weight: 100;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

/* Event Page*/
.searchEvt {
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 150px;
  background: #5a0f5b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* top:20px; */
  margin-bottom: 50px;
}
.searchBoxEvt {
  flex: 50%;
  float: left;
}
.searchBoxEvt p {
  /* float: left; */
  flex: 50%;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}
.inputBox {
  float: left;
  display: flexbox;
  text-align: center;
  justify-content: last baseline;
  background-color: transparent;
  /* border-color: transparent; */
  color: #fff;
  font-weight: bold;
  /* border:1px solid #fff */
  /* border: none !important; */
  /* border-bottom: 1px solid #fff !important; */
  border-bottom: 2px solid white !important;
  margin-bottom: 2rem;
}

.inputBox::placeholder {
  color: white;
}

.upcomingEvents {
  margin-bottom: 50px;
  text-align: center;
  width: 80%;
  /* height: 170px; */
  background-color: #c73cb1;
  border: 5px solid #fff500;
  border-radius: 34px;
  box-sizing: border-box;
}
.txtUpcoming {
  padding-top: 20px;
  /* float: left; */
  display: flex;
  text-align: center;
  flex: 50%;
  justify-content: center;
}
.txtUpcoming p {
  text-align: center !important;
  display: flex !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  margin: 30px 50px;
}
.txtUpcoming select {
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 30px;
  width: 200px;
  height: 43px;
  top: 200px;
  color: #000;
  background: #d9d4db;
  border-radius: 14px;
}
.btnLoadEvent {
  margin: 20px 0px;
  padding-top: 13px;
  width: 15%;
  height: 65px;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #eec2e2;
  border-radius: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #951471;
}
/* .btnLoadEvent:hover{
  background-color:whitesmoke;
} */
/*  */

/* Footer */
.containerFooter {
  background-color: #ef5089;
  /* height: 50%  ; */
  /* width: 100%; */
}
.wrapperFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 000px; */
  height: 20%;
  padding: 50px 50px;
}
.columnFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  grid-gap: 20px;
}
.rowFooter {
  display: flex;
  /* grid-template-columns: repeat(auto-fiil, minmax(230, 1fr)); */
  grid-gap: 20px;
}
.Row2 {
  display: flex;
  justify-content: flex-start;
}
.Row3 {
  display: flex;
  justify-content: left;
}
.linkFooter {
  color: #efefed;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  display: flex;
}

.titleFooter {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

.line {
  border: 1px solid #d4d0d0;
}

.textFooter {
  text-align: center;
  display: flex;
  margin-left: 50px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}

.imageFooter {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100%;
}
.imagesFooter {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
/* EndFooter */
/* border-radius: 9px;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
} */

/* Register */

.sideRegister {
  /* background: url("./images/image\ 1.png") repeat !important; */
  background: #7939bd;
  min-height: 100vh;
}

.sideTitle {
  color: #fff500;
  text-shadow: 4px 4px #34b7f0;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.sideText {
  color: #fff500;
  font-size: 1.25rem;
  font-weight: 600;
}

.formRegister {
  background: #ede0fb;
  border-left: 16px solid #c73cb1;
  border-radius: 60px 0px 0px 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 30px 0px 0px 30px;
  position: absolute;
  z-index: 1;
  right: 0;
  min-height: 100vh;
}

.titleRegister,
.textLogin {
  font-weight: 800;
  font-size: 2rem;
  color: #fff500;

  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.borderRegister {
  border-top: 1px solid #000000;
}

.inputRegister {
  min-height: 50vh;
}

button[type="submit"] {
  background: #ffbd12;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 16px;
  font-size: 2rem;
  font-weight: bold;
  max-width: fit-content;
}

.spanReg {
  color: #18191f;
  font-weight: 500;
  font-size: 0.75rem;
}

.lineReg {
  border: 1px solid #000000;
}

.facebookButton {
  background: #0b21e2;
}
.googleButton {
  background: #bcbdc2;
}
.facebookButton,
.googleButton {
  border-radius: 9px;
  width: 17vw;
}

.googleText,
.facebookText {
  color: #ffffff;
  font-weight: 500;
}

.peep {
  position: absolute;
  left: 4.6vw;
  bottom: 0;
}

/* DONATE */
.donate {
  background: #e7e7e7;
}

.donateContainer {
  background-color: white;
}

.donateEventPic {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* border-radius: 23px; */
}

.donate h1 {
  font-size: 2rem !important;
  font-weight: 800 !important;
}

.donate h2 {
  font-size: 1.75rem !important;
}

.donate h3 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.donate h4 {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
}

.donate h5 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.progressDetails {
  font-weight: 600;
}
.progressDetails2 {
  font-weight: normal;
  color: #837c7c;
}

.shareEvent {
  border: 4px solid #34b7f0;
  box-sizing: border-box;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.25));
  /* border-radius: 18px; */
}

.shareEventText {
  color: #34b7f0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boostNow {
  color: white;
  background: #ef5089;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  border: none;
  width: 50vw;
  font-size: 1.5rem;
  font-weight: 700;
}

.donateSubtitleBox {
  background: #5a0f5b;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  color: white;
}

.donateEventBox,
.donateEventInfo,
.donateKolegaBox {
  border: 1px solid #b5b5b5;
}

.donateEventInfo {
  background: #ffbd12;
  color: #19abea;
}

.donateLearnMore {
  border: 3px solid #5a0f5b;
  border-radius: 20px;
}

.donateGetDir {
  background: #5a0f5b;
  border: none;
  color: white;
  font-family: Montserrat, "sans-serif";
  font-weight: 800;
}
/* DONATE */

/* LANDING PAGE */
.logoKolektiveLP {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 40px;
}
.NavbarLP {
  z-index: 2;
  position: fixed;
  /* width: 850px; */
  height: 80px;
  left: -5px;
  top: 63px;
  display: flex;
  background-clip: border-box;
}
.navbarBorder {
  background: #ef5089;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0px 106px 106px 0px;
}
.NavbarLP .leftSide {
  /* flex: 50%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.NavbarLP .rightSide .links a {
  float: right;
  padding: 20px 40px 20px 0px;
  /* margin-top: 10px; */
  justify-content: flex-end;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-family: Poppins;
  cursor: pointer;
  font-style: normal;
  flex-direction: column;
}
.NavbarLP .leftSide .links {
  max-height: 80px;
}
.body {
  width: 100%;
  height: 100%;
  background: #7939bd;
}
.heroLP {
  position: absolute;

  align-items: flex-end;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  top: 200px;
  bottom: 500px;
  width: 80%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(156, 119, 197, 0.19),
      rgba(156, 119, 197, 0.19)
    ),
    url("./images/syncfest.png");
  border: 11px solid #fff500;
  box-sizing: border-box;
  border-radius: 45px;
}
.boxHeading {
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  height: 500px;
}
.heading {
  /* padding-bottom: 255px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.typed-words {
  /* width: 100%; */
  display: flex;
  justify-content: center;

  /* position: absolute; */

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 108px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #fff500;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonHero {
  display: flex;
  justify-content: space-evenly;
}

.button1 {
  /* position: absolute; */
  color: #000;
  width: 206px;
  height: 60px;
  right: 20px;
  margin: 10px 20px;
  background: #fff500;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 64px;
}
.button2 {
  /* position: absolute; */
  color: #fff;
  margin: 10px 20px;
  width: 206px;
  height: 60px;
  background: #791682;
  border: 3px solid #fff500;
  box-sizing: border-box;
  border-radius: 64px;
}
.btnRegis {
  /* position: absolute; */
  width: 206px;
  height: 80px;
  left: 1200px;
  background: #791682;
  border: 3px solid #fff500;
  box-sizing: border-box;
  border-radius: 64px;
  color: #ffffff;
  font-size: 25px;
}
.btnLgn {
  /* position: absolute; */
  width: 206px;
  height: 80px;
  left: 1450px;

  background: #fff500;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 64px;
  color: black;
  font-size: 25px;
}
.layerLP {
  position: relative;
  top: 300px;
  /* bottom: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 600px;
  background-color: blueviolet;
  border-radius: 34px;
  box-sizing: border-box;
  border-radius: 44px;
  box-sizing: border-box;
}
.layerPict {
  flex: 50%;
  /* height: 515px; */
}
.layerTxt {
  flex: 50%;
  margin-right: 50px;
  /* width: 713px;   */
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  text-align: justify;
  float: inline-start;
  color: #fff500;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pict {
  border-radius: 40px;
}
.linePelangi {
  position: absolute;
  width: 100%;
  margin: 303px;
  /* height: 50000px; */
}
.line1 {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 44px;
  background: #f3e433;
  border: 3px solid #000000;
  box-sizing: border-box;
}
.line2 {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 40px;
  background: #c73cb1;
  border: 3px solid #000000;
  box-sizing: border-box;
}
.line3 {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 80px;
  background: #43add0;
  border: 3px solid #000000;
  box-sizing: border-box;
}
.line4 {
  position: absolute;
  width: 78%;
  height: 38px;
  left: -978px;
  top: 206px;
  border-radius: 20px;
  background: #f3e433;
  transform: rotate(-15.42deg);
}
.line5 {
  position: absolute;
  width: 1527px;
  height: 38px;
  left: -970px;
  top: 239px;
  border-radius: 20px;
  background: #c73cb1;
  transform: rotate(-15.42deg);
  border: 3px solid #000000;
}
.line6 {
  position: absolute;
  width: 1527px;
  height: 38px;
  left: -960px;
  top: 276px;
  border-radius: 20px;
  background: #43add0;
  transform: rotate(-15.42deg);
  border: 3px solid #000000;
}
.layer1LP {
  position: relative;
  top: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  left: 65px;
  height: 800px;
  /* background-color:blueviolet; */
  border-radius: 34px;
  box-sizing: border-box;
  border-radius: 44px;
  box-sizing: border-box;
  align-self: center;
  margin-bottom: 220px;
}
.layer1Txt {
  display: flex;
  align-self: center;
  flex: 50%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 682px;
  height: 315px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;

  color: #fff500;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.layer1Pict {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  height: 505px;
  margin-right: 20px;
  /* margin-top: 200px; */

  border: 7px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 44px;
}
.layer1Txt2 {
  /* position: absolute; */
  /* width: 560px; */
  height: 108px;
  left: 130px;
  top: 560px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.layer1LP button {
  /* position: absolute; */
  width: 257.96px;
  height: 72.81px;
  left: 290px;
  top: 700px;

  background: #fff500;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 90.5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boxKolega {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  text-align: center;
  /* width: 80%; */
  height: 501px;
  background: #c73cb1;
  border: 7px solid #fff500;
  box-sizing: border-box;
  border-radius: 99px;
}
.pictKolega {
  /* position: absolute; */
  flex: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 220px;
  margin: 50px 100px;

  background: #43add0;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
}
.pictKolega p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 141px; */
  height: 105px;
  margin-top: 220px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pictKolega h4 {
  /* width: 176px; */
  /* height: 54px; */
  position: absolute;
  margin-top: 320px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 54px;
  /* identical to box height */

  letter-spacing: 0.035em;

  color: #fff500;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.borderBoxLP h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 144px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 144px;

  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

  text-align: center;

  color: #fff500;
}
.linePelangi2 {
  position: absolute;
  width: 100%;
  /* margin: 303px; */
  /* height: 50000px; */
}
.line7 {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 350px;
  background: #f3e433;
  border: 3px solid #000000;
  box-sizing: border-box;
  transform: matrix(-0.99, -0.17, -0.17, 0.99, 0, 0);
}
.line8 {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 390px;
  left: -8px;
  background: #c73cb1;
  border: 3px solid #000000;
  box-sizing: border-box;
  transform: matrix(-0.99, -0.17, -0.17, 0.99, 0, 0);
}
.line9 {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 430px;
  left: -13px;
  background: #43add0;
  border: 3px solid #000000;
  box-sizing: border-box;
  transform: matrix(-0.99, -0.17, -0.17, 0.99, 0, 0);
}
.screenHP {
  /* position: absolute; */
  margin: 20px;
  z-index: 1;
  right: 40%;
  height: 625px;
  box-sizing: border-box;
  border-radius: 75px;
  border: 24px solid #454545;
  background-color: #eb6a98;
  /* background: url(./images//music1.png);*/
}

.judulHP {
  display: flex;
  align-items: center;
  height: 7vh;
  justify-content: space-around;
}

.judulHP p {
  display: flex;
  text-align: center;
  margin: 0;
  /* padding-top: 80px; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #18191f;
}
.cameraHP {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* right: 40%;s */
  width: 200px;
  height: 20px;
  box-sizing: border-box;
  border-bottom: 50px;
  border-radius: 20px;
  border: 15px solid #454545;
}
.speaker {
  display: flex;
  width: 50px;
  height: 3px;
  /* flex: 30%; */
  box-sizing: border-box;
  border-radius: 50px;
  border: 3px solid gray;
  margin: 10px;
}
.lensa {
  display: flex;
  box-sizing: border-box;
  /* flex: 30%; */
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 5px solid gray;
}
.imageHP {
  /* position: absolute; */
  width: 90%;
  height: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 21px;
  top: 118px; */
  /* margin-top: 70px; */
  /* Colors / Red */

  background: #f95a2c;
  /* Colors / Black */

  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
}
.imageHP img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topikHP p {
  /* position: abso?lute; */
  /* margin */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: #18191f;
}
.topikHP a {
  float: right;
  margin: -49px 20px;
  flex: 30%;
  color: #000;
  font-size: 30px;
  display: flex;
}
.topikHP h5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.barMusic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 480px;
  height: 20px;
  width: 90%;
  background-color: linear-gradient(to right, blue #ffff);
}
.boxHP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.boxJudul1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 891px;
  height: 61px;

  background: #f3e433;
  /* Colors / Black */

  border: 5px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
}
.boxJudul2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0px 0px 0px;
  width: 891px;
  height: 61px;
  background: #c73cb1;
  border: 5px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
  z-index: 20;
}
.judul2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 935px;
  height: 117px;
  margin: -15px;
  background: #2cb5e8;
  border: 5px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
}
.judul2 p {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 105px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  /* identical to box height */

  text-align: center;

  color: #fff500;
}
.layer2LP {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 60%;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  text-align: start;
  box-sizing: border-box;
  background: radial-gradient(50% 50% at 50% 50%, #7939bd 35.94%, #15d9f3 100%);
  border: 20px solid #fff500;
  border-radius: 72px;
}
.textLayer2 {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  margin: 50px;
  /* flex: content; */
}
.textLayer2 p {
  flex: 50%;
  display: flex;
  /* margin: 50px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;

  color: #ffffff;
}
.layer2LP img {
  margin: 50px;
  display: flex;
  flex: 50%;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 50vh;
}
.textLayer2 h3 {
  /* position: absolute; */
  /* width: 50%; */
  /* margin: 400px 20px; */
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  color: #fff500;
}
.textLayer2 h5 {
  /* position: absolute; */
  /* margin: 470px 20px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
/* LANDING PAGE */

/* Campaign */
.campaign {
  background: #7939bd;
  padding-top: 13rem;
}

.campaignTitle,
.campaignDesign {
  border: 2px solid black;
  box-shadow: #ef5089 10px 10px;
  background: #2cb5e8;
}

.campaignTitle h1 {
  color: #fff500;
  text-shadow: #ef5089 3px 3px;
}

.campaignFoto,
.campaignInput {
  border: 2px solid #fff500;
  background: #ef5089;
  cursor: pointer;
}

.campaignFotoTitle,
.campaignInput label {
  color: #00f0ff;
  font-size: 1.5rem;
  font-weight: 600;
}

.campaignInput label {
  text-align: start;
}

.campaignInput input,
.campaignInput textarea {
  border-radius: 12px;
}

.campaignQuote {
  font-size: 3rem !important;
  font-weight: 900;
  letter-spacing: 0.25rem;
  color: #fff500;
  text-shadow: #ef5089 5px 5px;
}

.campaignDesign {
  border: none;
}

.campaignDesign2 {
  background: #fff500;
}

.campaignDesign3 {
  background: #ef5089;
}

.campaignPeep {
  fill: black;
}

/* Responsive */
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .formRegister {
    margin-left: 0px;
    min-width: 100vw;
    min-height: 100vh;
  }
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 0.75rem;
  }
  .box {
    width: 100% !important;
  }
  .close-icon {
    right: 84% !important;
  }
  .NavbarLP .rightSide .links a {
    padding: 0 3.5rem 1.5rem 0;
  }
  .btnRegis,
  .btnLgn,
  .layer1Txt,
  .imageHP,
  .judul2,
  .layer2LP,
  .layer1LP {
    width: auto;
  }
  .typed-words,
  .text-center .layer1Txt,
  .borderBoxLP h1,
  .judul2 p {
    font-size: 2.5rem;
    line-height: normal;
  }
  .layerTxt,
  .layer1Txt2,
  .pictKolega h4,
  .textLayer2 p,
  .textLayer2 h3,
  .textLayer2 h5 {
    font-size: 1.5rem;
    line-height: normal;
    margin-right: 0;
    text-align: start;
    height: auto;
    margin-top: 1rem;
    margin-inline: 1rem;
  }
  .layer1Txt2,
  .pictKolega h4 {
    text-align: center;
  }
  .layer1LP {
    left: auto;
  }
  .boxKolega,
  .layer2LP img {
    height: auto;
  }
  .pictKolega {
    margin: 20px 20px 190px;
  }
  .pictKolega h4 {
    justify-content: center;
    margin-top: 220px;
  }
  .pictKolega p {
    margin-top: 315px;
  }
  .boxHP {
    margin: auto;
  }
  .judulHP p,
  .judul2 p,
  .judul2 {
    margin: 0px 10px;
  }
  .formRegister,
  .sharePage .sharePageBox {
    border: none !important;
  }
  .formRegister {
    border-radius: 0;
  }
  .slider {
    height: auto;
  }
  .salinShare{
    margin-inline: 0 !important;
  }
}

/* Galaxy Fold */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .searchEvt {
    height: auto;
    margin-top: 2rem;
  }
  .txtUpcoming p {
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
  }
  .txtUpcoming select {
    margin: 20px 0;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 0.75rem;
  }
  .slider {
    height: auto;
  }
  .txtUpcoming p {
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
  }
  .txtUpcoming select {
    margin: 20px 0;
  }
  .imagesFooter {
    margin: 0;
  }
  .columnFooter {
    text-align: start;
  }
  .searchEvt {
    height: auto;
    margin-top: 2rem;
  }
  .campaignQuote {
    font-size: 2.5rem !important;
  }
}
/* Surface Duo */
@media only screen and (min-device-width: 540px) {
  .formRegister {
    width: 100vw;
  }
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 1rem;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sideTitle {
    font-size: 1.5rem;
  }
  .googleButton,
  .facebookButton {
    width: max-content;
    font-size: 1rem;
  }
  .close-icon {
    right: 67% !important;
  }
  .NavbarLP,
  .layer1Txt,
  .judul2 {
    width: auto;
  }
  .NavbarLP .rightSide .links a {
    font-size: 1.25rem;
  }
  .layerTxt,
  .layer1Txt2,
  .pictKolega h4,
  .textLayer2 p,
  .textLayer2 h3,
  .textLayer2 h5 {
    font-size: 1.5rem;
    line-height: normal;
    margin-right: 0;
    text-align: start;
    height: auto;
    margin-top: 1rem;
    margin-inline: 1rem;
  }
  .layerLP,
  .boxKolega,
  .layer1Txt {
    height: auto;
  }
  .text-center .layer1Txt,
  .judul2 p {
    font-size: 2.5rem;
    line-height: normal;
  }
  .layer1LP {
    align-items: center;
  }
  .pictKolega {
    border: none;
    background: none;
    margin: 100px 20px 200px;
  }
  .pictKolega h4 {
    margin-top: 300px;
    display: inline;
    text-align: center;
  }
  .sharePage .sharePageBox{
    border: none !important;
    margin-inline: 0 !important;
  }
  .salinShare{
    margin: 0 !important;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sideTitle {
    font-size: 1.5rem;
  }
  .NavbarLP {
    width: 50vw;
  }
  .btnRegis,
  .btnLgn {
    width: fit-content;
    padding-inline: 2rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .NavbarLP {
    width: 50vw;
  }
  .layer2LP img {
    height: auto;
    max-width: 50%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .txtUpcoming select {
    width: 20rem;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* Popup */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff500;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: 70%;
  top: calc(100vh - 85vh + 30px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  z-index: 2;
}

.borderNone {
  border: none;
  background: transparent;
}

.button2Event {
  position: relative !important;
  margin-bottom: 2rem;
}

.card-group > .card {
  flex: none !important;
}

.donateMap {
  text-decoration: none !important;
  color: white;
}

.formTransaction,
.eventBg {
  background: #7939bd;
}
.formTransaction h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 82px;
  text-align: center;
  color: #fff500;
  text-shadow: #ef5089 5px 5px;
}

.transactionBox {
  background: linear-gradient(0deg, #ef5089, #ef5089);
  border: 9px solid #fff500;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: #2cb5e8 5px 5px;
}

.transactionBox .nominasi,
.rp {
  color: #fff500;
}

.transactionBox .rp {
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 800;
}

.transactionBox input {
  background: linear-gradient(0deg, #fff500, #fff500);
  border-radius: 15px;
  width: 30vw;
}

.transaction {
  color: white !important;
}

.tableTransaction {
  background: #ef5089 !important ;
  box-shadow: #2cb5e8 5px 5px;
  border: 2px solid #fff500;
}

.errorText {
  color: red;
  font-weight: 600;
  text-align: start;
}

.withdrawButton {
  background: #fff500;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.cardBox {
  background: #c73cb1;
  border: 10px solid #fff500;
  border-radius: 43px;
  width: 80%;
}

.card {
  border-radius: 26px !important;
}

.nullState {
  color: white;
  font-size: 1.75rem;
  font-weight: 100;
}

.truncated {
  display: -webkit-box;
  max-width: inherit;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sharePage h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #7939bd;
}

.sharePage .sharePageBox {
  display: flex;
  justify-content: space-around;
  margin-inline: 7rem;
  border: 3px solid #7939bd;
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sharePageBox p {
  color: #7939bd;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.salinShare {
  margin-inline: 7rem;
  justify-content: center;
}

.salinShare textarea {
  width: 80%;
  padding: 0;
  border: 3px solid #7939bd;
  background: transparent;
  border-radius: 1rem 0px 0px 1rem;
  text-align: center;
}

.salinShare button {
  font-weight: 800;
  align-self: center;
  margin: 0;
  padding: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  background: #7939bd;
  color: #fff500;
  border: none;
}
